body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.container{
    width: 70px;
    margin: auto;
}
.header{
    background-color: bisque;
    color: aqua;
    padding: 22px;
}
nav{
    background-color: dimgray;
    text-decoration: none;
}
.nav a{
    margin: 15px;
    color: azure;
}
.footer{
    background-color: darkgray;
    color: black;
    margin-top: 20px;
    padding: 10px;
}
header img{
    height: 60px;
    margin-right: 20px;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: palegoldenrod;
    text-align: center;
}
container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.container{
    width: 70px;
    margin: auto;
}
.header{
    background-color: bisque;
    color: aqua;
    padding: 22px;
}
nav{
    background-color: dimgray;
    text-decoration: none;
}
.nav a{
    margin: 15px;
    color: azure;
}
.footer{
    background-color: darkgray;
    color: black;
    margin-top: 20px;
    padding: 10px;
}
